asgiref==3.5.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
build==0.9.0
certifi==2022.12.7
charset-normalizer==3.0.1
coverage==7.1.0
dj-database-url==1.2.0
Django==4.1.4
django-bootstrap-v5==1.0.11
django-bootstrap4==22.3
django-filter==22.1
djangorestframework==3.14.0
flake8==6.0.0
gunicorn==20.1.0
-e git+https://github.com/M1RRoN/python-project-52@731f9f4245a7a790ddbbfdb94e9da6df8c9a2125#egg=hexlet_code
idna==3.4
mccabe==0.7.0
packaging==22.0
pep517==0.13.0
psycopg2==2.9.5
pycodestyle==2.10.0
pyflakes==3.0.1
python-dotenv==0.21.1
python-gettext==4.1
pytz==2022.6
requests==2.28.2
rollbar==0.16.3
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tomli==2.0.1
urllib3==1.26.14
