{% extends 'base.html' %}
{% load i18n %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<h1>{% trans "Создать пользователя" %}</h1>
<form method="post">
    {% csrf_token %}
    {% trans "Имя" %}
    <div class="form-group">
        {{ form.first_name }}
    </div>
    <br>
    {% trans "Фамилия" %}
    {{ form.last_name }}<br>

    <div class="form-group">
        {% trans "Имя пользователя" %}
        {{ form.nickname }}
        <small class="form-text text-muted">Обязательное поле. Не более 150 символов. Только буквы, цифры и символы-->
            @/./+/-/_.</small>
    </div>
    <br>
    <div class="form-group">
        {% trans "Пароль" %}
        {{ form.password }}
        <small class="form-text text-muted">Ваш пароль должен содержать как минимум 3 символа.</small>
    </div>
    <br>
    <div class="form-group">
        {% trans "Подтверждение пароля" %}
        {{ form.confirm_password }}
        <small class="form-text text-muted">Для подтверждения введите, пожалуйста, пароль ещё раз.</small>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Зарегистрировать">
    <span>{{ error }}</span>
</form>
{% endblock %}