{% extends 'base.html' %}

{% block title %}
Войти
{% endblock %}


{% block content %}
<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="GWLT1f7Ghe3nHfVuR3zuSuQITu2zaJC5Y34D5kOsKvMai9B3InOTYzTZOAKxhX5Z">
  <div class="form-group"><label for="id_username">Имя пользователя</label><input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" placeholder="Имя пользователя" title="" required id="id_username"></div>
<div class="form-group"><label for="id_password">Пароль</label><input type="password" name="password" autocomplete="current-password" class="form-control" placeholder="Пароль" title="" required id="id_password"></div>
  <br>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Войти">
  </div>
</form>
{% endblock %}
